<appSettings>
  <add key="SmtpHost" value="gmail.com.com"/>
  <add key="SmtpPassword" value="Lovethat1"/>
  <add key="AdminEmail" value="Loving That Deal&lt;deals@lovingthatdeal.com&gt;"/>
  <add key="NoReplyEmail" value="Loving That Deal&lt;deals@lovingthatdeal.com&gt;"/>
  
  <add key="SiteName" value="Loving That Deal"/>
  <add key="IsLive" value="false"/>
  
 
  <add key="MailTemplateFolder" value="~/MailTemplates/"/>

  <add key="DealImportDelayMinutes" value="1440"/>
  <add key="DealImportDeleteDaysOld" value="7"/>
  <add key="NoOfEmailsPerLot" value="50"/>
  
</appSettings>