<connectionStrings>
  <!--<add name="cnStr" connectionString="Data Source=OiiO301;Initial Catalog=Sports; User ID=sa; Password=1234;"/>-->
  <add name="cnStr" connectionString="Data Source=182.50.133.109;Initial Catalog=Interboll_2020; User ID=Interplanet2141; Password=bd@uk@us@gr;"/>
  <!--<add name="cnStr" connectionString="Data Source=192.168.88.2;Initial Catalog=OiiO_Go; User ID=sa; Password=oIIoAdmin;"/>-->
  <add name="dbConnection" connectionString="Data Source=192.168.88.2;Initial Catalog=Interboll_Games; User ID=sa; Password=oIIoAdmin;"/>
  <!--<add name="dbConnection" connectionString="Data Source=182.50.133.109;Initial Catalog=Interboll_Games; User ID=interconnect2008; Password=games@82@us@A;"/>-->
</connectionStrings>